<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Music to Code By</title>

    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <h3 class="text-center">Music to Code By</h3>
      <div id="profileTarget"></div>
      <br>
      <h4><a href="/api">Read my API documentation</a></h4>
      <br>
      <div class="formDiv col-sm-12">
        <form class="form-inline" id="newSongForm">
          <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Song title">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="artist" placeholder="Artist">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="genre" placeholder="Genre">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="link" placeholder="YouTube embed link">
          </div>
          <button type="submit" class="btn btn-primary-outline">Add a song</button>
        </form>
        <br>

      </div>
      <div id="songsTarget" class="col-sm-5 col-sm-offset-1">
        <script id="songs-template" type="text/x-handlebars-template">
          {{#each songs}}
            <div class="songEntry">
              <p>
                <b>"{{title}}"</b>
                by {{artist}}
                <br>
                  <b>Genre(s):</b>
                  {{#each genre}}
                  {{this}}{{#unless @last}},{{/unless}}
                  {{/each}}
                <br>
                <br>
                <iframe width="200" height="200" src="{{link}}" frameborder="0"></iframe>
                <br>
                <button type="button" name="button" class="deleteBtn btn btn-danger" data-id={{_id}}>Delete</button>
              </div>
            {{/each}}
            </p>
        </script>
        <!--- <a href="{{link}}" target="_blank">Listen</a> -->
      </div>
      <hr>
    </div>
  </body>
</html>
