body {
  color: #0c090a;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white
}

h1 {
  margin-top: 25px;
  text-align: center
}
.songEntry {
  /*border: black dashed 2px;*/
  margin: 25px;
  padding: 20px
}
